<h2>商品詳細</h2>
<table class ='table'>
  <tr>
    <td><%= image_tag @items.image, size:"100x100" %>
    </td>
    <td>商品名<%= @items.item_name %></td>
  </tr>
  <tr>
    <td>商品説明<%= @items.item_description %></td>
  </tr>
  <tr>
    <td>ジャンル<%= @items.genre.name %></td>
  </tr>
  <tr>
    <td>税込価格(税抜価格）<%= @items.with_tax_price %>（<%= @items.price %>）</td>
  </tr>
  <tr>
    <td>販売ステータス<% if @items.sale_status == true %>
                      <%= "販売中" %>
                      <% else %>
                      <%= "売り切れ" %>
                      <% end %>
    </td>
  </tr>
  <tr>
    <td><%= link_to '編集', edit_admin_item_path(@items.id), class: "btn btn-sm btn-success" %></td>
  </tr>
</table>