  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% deliveries.each do |deliverie| %>
      <tr>
        <!--郵便番号表示-->
        <td><%= deliverie.postcode %></td>
        <!--住所表示-->
        <td><%= deliverie.address %></td>
        <!--宛名表示-->
        <td><%= deliverie.name %></td>
        <td><%= link_to "編集 ", deliverie_edit_path(@deliverie.id), class:"btn btn-success" %></td>
        <td><%= link_to "削除", deliverie_path(@deliverie), class:"btn btn-danger", method: :delete %><td>
      </tr>
    <% end %>
  </tbody>
</table>