 <table class="table"  border="2" style="font-size: 13pt; height: 80%;" >
  <thead bgcolor="#f5f5f5" >
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% deliveries.each do |delivery| %>
      <tr>
        <!--郵便番号表示-->
        <td><%= delivery.postcode %></td>
        <!--住所表示-->
        <td><%= delivery.address %></td>
        <!--宛名表示-->
        <td><%= delivery.name %></td>
        <td align="center"><%= link_to "編集", edit_public_delivery_path(delivery.id), class:"btn btn-success btn-sm" %>
            <%= link_to "削除", public_delivery_path(delivery.id), class:"btn btn-danger btn-sm", method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
