  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @deliveries.each do |f| %>
      <tr>
        <!--郵便番号表示-->
        <td><%= f.postcode %></td>
        <!--住所表示-->
        <td><%= f.address %></td>
        <!--宛名表示-->
        <td><%= f.name %></td>
        <td><%= link_to "編集 ", edit_deliverie_path(@delivery.id), class:"btn btn-success" %></td>
        <td><%= link_to "削除", delivery_path(@delivery), class:"btn btn-danger", method: :delete %><td>
      </tr>
    <% end %>
  </tbody>
</table>