<div class='container'>
  <div class='col-md-4 mt-4 mb-3'>
    <h2>注文履歴詳細</h2>
  </div>
  <div class='row'>
    <table>
      <thead>
        <tr>
          <th>購入者</th>
            <td><%= link_to admin_homes_top_path do %>
                              <%= @order.name %>
                            <% end %>
            </td>
        </tr>
        <tr>
          <th>注文日</th><td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>配送先</th><td><%= @order.address %></td>
        </tr>
        <tr>
          <th>支払方法</th><td><%= @order.payment_i18n %></td>
        </tr>
        <tr>
          <th>注文ステータス</th>
              <td><%= form_with model: @order, url: admin_order_path, method: :patch, local:true do |f| %>
                    <%= f.select :order_status, Order.order_statuses_i18n.invert, {prompt: false} %>
                    <%= f.submit "更新" , class: "btn btn-outline-success" %>
              　　　<% end %>
              </td>
        </tr>
      </thead>
    </table>
  </div>
  <div class='row'>
    <div class='col-lg-8'>
      <table class='table mt-4' border='2' style='font-size: 13pt; line-height: 50%;'>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @total = 0 %>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.item_name %></td>
            <td><%= order_detail.tax_price %></td>
            <td><%= order_detail.amount %></td>
            <td>
            <%= order_detail.tax_price * order_detail.amount %>
            <% @total += order_detail.tax_price * order_detail.amount %>
            </td>
            <td><%= form_with model: order_detail, url: admin_path(order_detail), method: :patch, local:true do |f| %>
                  <%= f.hidden_field :order_detail_id, value: order_detail.id %>
                  <%= f.select :make_status, OrderDetail.make_statuses_i18n.invert, {prompt: false} %>
                  <%= f.submit "更新" , class: "btn btn-outline-success" %>
            　　　<% end %>
            </td>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
      <div class='col-lg-3 offset-lg-1 mt-5'>
        <table>
            <tr><th>商品合計</th><td><%= @total %></td></tr>
            <tr><th>送料</th><td><%= @order.freight %></td></tr>
            <tr><th>請求額合計</th><td><%= @total + @order.freight %></td></tr>
        </table>
      </div>
  </div>
</div>