<h2>注文履歴詳細</h2>
<table>
  <thead>
    <tr>
      <td>購入者</td>
    </tr>
    <tr>
      <td>注文日 <%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
      <td>配送先 <%= @order.address %></td>
    </tr>
    <tr>
      <td>支払方法 <%= @order.payment_i18n %></td>
    </tr>
  </thead>
</table>
          <td><%= form_with model: @order, url: admin_order_path, method: :patch, local:true do |f| %>
                <%= f.label "注文ステータス" %>
                <%= f.select :order_status, Order.order_statuses_i18n.invert, {prompt: false} %>
                <%= f.submit "更新" , class: "btn btn-outline-success" %>
          　　　<% end %>
          </td>

  <table class="table">
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <td>製作ステータス</td>
      </tr>
    </thead>
    <!--<tbody>-->
      <%# @order_dateil.each do |order_dateil| %>
    <!--  <tr>-->
    <!--    <td></td>-->
    <!--  </tr>-->
    <!--  <tr>-->
    <!--    <td></td>-->
    <!--  </tr>-->
    <!--  <tr>-->
    <!--    <td></td>-->
    <!--  </tr>-->
    <!--  <tr>-->
    <!--    <td></td>-->
    <!--  </tr>-->
    <!--  <tr>-->
    <!--    <td><%= form_with model: @order_dateil, url: admin_order_path, method: :patch, local:true do |f| %>
                <%= f.label "製作ステータス" %>
                <%#= f.select :make_status, OrderDateil.make_statuses_i18n.invert, {prompt: false} %>
                <%= f.submit "更新" , class: "btn btn-outline-success" %>
          　　　<% end %></td>-->
    <!--  </tr>-->
      <%# end %>
    <!--</tbody>-->
  </table>