<div class='container'>
  <div class='row'>
    <div class='col-md-4 mt-4 mb-3'  style='display:flex; flex-wrap:wrap;'>
      <h2>注文履歴一覧</h2>
    </div>
        <table class='table' border='2' style='font-size: 13pt; line-height: 50%;'>
          <thead>
            <tr>
              <th>購入日時</th>
              <th>購入者</th>
              <th>注文個数</th>
              <th>注文ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @total = 0 %>
            <% @orders.each do |order| %>
              <tr>
                <td><%= link_to admin_order_path(order.id) do %>
                  　<%= order.created_at.strftime('%Y/%m/%d') %>
                  　<% end %>
                </td>
                <td><%= order.name %></td>
                <td><%= order.order_details.sum(:amount) %></td>
                <td><%= order.order_status_i18n %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
         <div style="margin:0 auto;">
           <%= paginate @orders %>
         </div>
  </div>
</div>