<h2>注文情報確認</h2>
 <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |item| %>
      <tr>
        <td><%= item.item.item_name %></td>
        <td><%= item.item.item.with_tax_price %></td>
        <td><%= item.amount %></td>
        <td><%= cart_item.subtotal %></td>
          <% @total +=  cart_item.subtotal %>
      </tr>
    <% end %>
    <div>
      支払方法
       <p><%= @order.payment_method%></p>
    </div>
    <div>
      お届け先
       <p><%= @order.postcode %>&emsp;<%= @order.address %></p>
       <p><%= @order.name %></p>
    </div>
    <%= form_with (model: @order, url: public_orders_path, method: :post, local: true) do |f| %>
　    <%= f.submit "注文を確定する",class: "btn btn-sm btn-danger" %>
    <% end %>
  </tbody>
</table>