<h2>注文履歴詳細</h2>
 <table class='table'>
   <h3>注文情報</h3>
      <tr><th>注文日</th><td><%= @order.created_at %></td></tr>
      <tr><th>配送先</th><td><%= @order.postcode %><%= @order.address %><%= @order.name %></td></tr>
      <tr><th>支払方法</th><td><%= @order.payment %></td></tr>
      <tr><th>ステータス</th><td><%= @order.order_status %></td></tr>
</table>
  <h3>注文内容</h3>
  <table class='table'>
    <thead>
      <tr>
        <th>商品</th>
        <th>単価(税込)</th>
        <th>個数</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>

        <% @total = 0 %>
        <% @order_details.each do |order_detail|%>
          <tr>
            <td><%= order_detail.item.item_name %></td>
            <td><%= order_detail.tax_price %></td>
            <td><%= order_detail.amount %></td>
            <td>
              <%= order_detail.tax_price * order_detail.amount %>
              <% @total += order_detail.tax_price * order_detail.amount %>
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>
    <table class='table'>
      <h3>請求情報</h3>
        <tr><th>商品合計</th><td><%= @total %></td></tr>
        <tr><th>配送料</th><td><%= @order.freight %></td></tr>
        <tr><th>ご請求金額</th><td><%= @total + @order.freight %></td></tr>
    </table>