
      <h2>商品一覧</h2>
      <table class='table'>
        <thead>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <% if item.sale_status == true %>
            <tr>
              <td><%= link_to public_item_path(item.id) do %>
              <%= image_tag item.image, size:'50x50' %><br>
              <%= item.item_name %>
              <% end %>
              </td>
            </tr>
            <tr>
              <td>¥<%= item.with_tax_price %></td>
            </tr>
            <% else %>
             <tr>
              <td><%= image_tag item.image, size:'50x50' %><br>
                  <%= item.item_name %>
              </td>
             </tr>
             <tr>
              <td><%= "売り切れ" %></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%= paginate @items %>
      <!--<p>-->
        <%#= render 'index', items: @items %>
      <!--</p>-->