<table class='table'>
    <tr>
        <td><%= image_tag @item.image, size:"100x100" %></td>
        <td><%= @item.item_name %></td>
    </tr>
    <tr>
        <td><%= @item.item_description %></td>
    </tr>
    <tr>
        <td>¥<%= @item.with_tax_price %>(税込)</td>
    </tr>
</table>
<%= render 'public/items/cart_submit', cart_item: @cart_item,item: @item %>
 