<table class='table'>
    <tr>
        <td><%= image_tag @item.image, size:"100x100" %></td>
        <td><%= @item.item_name %></td>
    </tr>
    <tr>
        <td><%= @item.item_description %></td>
    </tr>
    <tr>
        <td>¥<%= @item.price %>(税込)</td>
    </tr>
</table>
 <%= form_with model: @cart_item, url: public_cart_items_path, method: :post, local:true do |f| %>
    <td><%= f.hidden_field :item_id, :value => @item.id %></td>
    <td><%= f.select :amount, options_for_select((1..10).to_a), {include_blank: '個数選択'}, class: 'sample' %></td>
            <td><%= f.submit 'カートに入れる', class: "btn btn-primary" %></td>
 <% end %>